apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vaultwarden-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: nfs-storage-class

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      containers:
        - name: vaultwarden
          image: vaultwarden/server:latest
          env:
            - name: DOMAIN
              value: "https://passwd.likongkong.top"
            - name: IP_HEADER
              value: X-Forwarded-For
            - name: ADMIN_TOKEN
              value: "XXX"  # 请替换为自己的管理员令牌 echo -n "MySecretPassword" | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4
            - name: SIGNUPS_ALLOWED
              value: "true"
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /data/
              name: vaultwarden-storage
      volumes:
        - name: vaultwarden-storage
          persistentVolumeClaim:
            claimName: vaultwarden-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: vaultwarden
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 32753
  selector:
    app: vaultwarden