  services:
    guacd:
      image: dushixiang/guacd:latest
      volumes:
        - next-terminal:/usr/local/next-terminal/data
      restart:
            always
    next-terminal:
      image: dushixiang/next-terminal:latest
      environment:
        DB: sqlite
        GUACD_HOSTNAME: guacd
        GUACD_PORT: 4822
      ports:
        - "8088:8088"
      volumes:
        - /etc/localtime:/etc/localtime
        - next-terminal:/usr/local/next-terminal/data
      restart:
        always


  volumes:
    next-terminal:
      driver: local
      driver_opts:
        type: nfs
        o: addr=192.168.1.122,rw
        device: ":/mnt/datashare/dockerdata/next-terminal"
      
    

